* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
   background: #1f2937;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;
   width: 85%;
   margin: 0 auto;
}

.logo {
   color: #fff;
   font-size: 25px;
   font-weight: bold;
}

.nav-links {
   display: flex;
   gap: 15px;
}

.nav-links a {
   text-decoration: none;
   font-weight: 600;
   font-size: 15px;
   color: white;
}

.header-content .container {
   display: flex;
   width: 85%;
   margin: 0 auto;
   align-items: center;
   height: 450px;
}

.hero-content {
   flex-basis: 50%;
   line-height: 2;
   flex-shrink: 1;
}

.hero-content h1 {
   color: #fff;
   font-weight: bold;
   font-size: 45px;
}

.hero-content p {
   color: #dad6d6;
   line-height: 1.5;
   font-size: 16px;
}

.hero-content a {
   display:inline-block;
   text-decoration: none;
   padding: 6px 15px;
   color: white;
   background: #3882f6;
   font-weight: 600;
   margin-top: 15px;
   border-radius: 8px;
}
.hero-image {
   flex-basis: 50%;
   display: flex;
   justify-content: center;
   flex-shrink: 1;
}

.hero-image img {
   width: 400px;
   flex-shrink: 1;
}

.main {
   text-align: center;
}

.service-section {
   color: #1f2937;
   width: 70%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 35px 0;
}

.service-section h2 {
   margin-bottom: 25px;
}

.service-containers {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-bottom: 20px;
}

.boxes-container {
   flex-basis: 300px;
   flex-grow: 1;
   line-height: 1.5;
}

.service-section .box {
   border: 2px solid #3882f6;
   border-radius: 8px;
   height: 150px;
   display: flex;
}

.box img {
   border-radius: 8px;
   flex: 1;
}

.article {
   background: #dad6d6;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 300px;
}

.article .container {
   width: 70%;
}

.article p {
   font-size: 20px;
   line-height: 1.5;
   font-weight: 200;
   font-style: italic;
}

.article p:last-child {
   text-align: right;
   font-weight: bold;
}

.testimony {
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.testimony .container {
   width: 80%;
   background: #3882f6;
   padding: 45px 70px;
}

.testimony p {
   font-size: 22px;
   font-weight: 600;
   line-height: 1.5;
}

.testimony .cta {
   display: flex;
   justify-content: space-between;
}
.testimony .cta p {
   font-weight: 100;
   color: #edeaea;
}

.cta button {
   background: transparent;
   border: 2px solid #fff;
   padding: 10px 24px;
   color: #fff;
   border-radius: 8px;
}

.footer {
   background: #1f2937;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer {
   color: #fff;
   font-size: 17px;
}